*{
    /* everything!!!!~ */
    /* margin is the space between */
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
}
#header{
    min-height: 150px;
    /* width: 500px; */
    background-color: green;
    /* border: 1px solid black; */
	margin-bottom: 10px;
}
#navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
}
#main-content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
}
.subcontent{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display:inline-block;
    vertical-align: top;
    /* up, left, down, right */
    margin: 15px 0 0 15px;
}
#advertisement{
    min-height: 120px;
    width: 670px;
    background-color: purple;
    margin: 15px;
}